# Supabase Public & Service Keys
NEXT_PUBLIC_SUPABASE_URL=https://oujjldbyjzofzbjecxwx.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_9XHxEdnC9_ymIbXwIDE8NQ_39n4AUAU
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here
